/* Palette

dark blue #4584B2

*/


body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #CCC;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #EEE;
}

span {
  font-family: Roboto, sans-serif;
}

.menu {
  color: #fff;
  font-size: 4em;
}

.header {
  display: flex;
  flex:auto;
  flex-direction: column;
  height: 8rem;
  background-color: #2F3051;
  align-items: flex-start;
  justify-content: center;
}

.main {
  display: flex;
  height: 36rem;;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 16rem;
  background-color: #1c3c53;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.currentMode {
  color: #ffc700;
  transform: scale(1.2);
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #666;
}

.keyboard {
  font-family: Roboto, sans-serif;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  font-family: Roboto, sans-serif;
  border: .0em;
  border-radius: .4rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  transition: all .07s ease;
  height: 12em;
  width: 8rem;
  text-align: center;
  color: #777;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.normal {
    background: #fff;
}

.sharp {
  background-color: #1c3c53;
  color: #EEE;
}

.empty {
  background-color: rgb(0,0,0,0);
}

.playing {
  transform: scale(0.9);
  /*background-color: #F4DA98;*/
    box-shadow: 0 0 0 0;

}

kbd {
  display: block;
  font-size: 4rem;
  font-family: Roboto, sans-serif;
}

.sound {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #999;
}

.mode {
  transition: all .07s ease;
  display: flex;
  height: 6rem;
  padding: 1rem;
  max-height: 14em;
  border-radius: .4rem;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  margin-left: .5rem;
  margin-right: .5rem;
  text-transform: uppercase;
}

.title {
  color: #fff;
  font-size: 2rem;
  margin: 4rem;
  font-family: Roboto, sans-serif;
}

.instructions {
  display: flex;
  height: 4rem;
  width: 8rem;
  padding: 1rem;
  max-height: 14em;
  border-radius: .4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #666;
}

.mediumIcon {
  height: 4rem;
  width: 4rem;
  transition: all .07s ease;
}

.arrowPressed {
  transform: scale(1.5);
}
